.lookbook-with-modal {
  & .lookbook-with-modal-wrapper {
    background: grey;
    display: flex;
    width: 100%;
  }

  & .left-column--right {
    flex-direction: row-reverse;
  }

  & .col {
    min-width: 50%;
    max-width: 50%;
  }

  & .right-column {
    background: yellow;
    max-width: calc(var(--page-width) / 2);
  }

  & .image-wrapper {
    position: relative;

    & .lookbook-image {
      width: 100%;
      object-fit: cover;
    }

    & .related-product {
      --offset-value: 40px;
      position: absolute;
      /* top: calc(var(--i) * var(--offset-value)); */
      /* left: 50%; */
      /* transform: translateX(-50%); */
      background: red;
      width: 20px;
      height: 20px;
      border-radius: 300px;
    }

    /* & .related-product:nth-child(1) {
      --i: 0;
    }
    & .related-product:nth-child(2) {
      --i: 1;
    }
    & .related-product:nth-child(3) {
      --i: 2;
    }
    & .related-product:nth-child(4) {
      --i: 3;
    }
    & .related-product:nth-child(5) {
      --i: 4;
    }
    & .related-product:nth-child(6) {
      --i: 5;
    }
    & .related-product:nth-child(7) {
      --i: 6;
    }
    & .related-product:nth-child(8) {
      --i: 7;
    }
    & .related-product:nth-child(9) {
      --i: 8;
    }
    & .related-product:nth-child(10) {
      --i: 9;
    } */
  }
}
