.lookbook-with-modal {
  --gap-from-1024: 60px;
  --gap-before-1024: 30px;

  & .lookbook-with-modal-wrapper {
    background: var(--lookbook-bg-col);
  }

  & .image-description-wrapper {
    display: flex;

    @media screen and (max-width: 1024px) {
      flex-direction: column;
    }
  }

  & .left-column {
    text-align: center;
  }

  & .button {
    display: block;
    margin: var(--gap-from-1024) auto 0;

    @media screen and (max-width: 1024px) {
      margin-top: var(--gap-before-1024);
    }
  }

  & .left-column--right {
    flex-direction: row-reverse;
  }

  & .col {
    min-width: 50%;
    max-width: 50%;
    @media screen and (max-width: 1024px) {
      min-width: unset;
      max-width: unset;
    }
  }

  & .right-column {
    max-width: calc(var(--page-width) / 2);
    display: flex;
    padding: var(--gap-from-1024);

    @media screen and (max-width: 1024px) {
      max-width: unset;
      padding: var(--gap-before-1024);
    }
  }

  & .content-description {
    > *:first-child {
      margin-top: 0;
    }

    > *:last-child {
      margin-bottom: 0;
    }

    & a {
      color: inherit;
    }
  }

  & .image-wrapper {
    position: relative;

    & img {
      display: block;
    }

    & .lookbook-image {
      width: 100%;
      object-fit: cover;
    }

    & .related-product {
      --offset-value: 40px;
      position: absolute;
      background: var(--bg-col);
      border: 2px solid var(--bord-col);
      box-shadow: 0px 0px 20px 6px var(--bg-col);
      transform: translate(-50%, -50%);
      width: 20px;
      height: 20px;
      border-radius: 300px;
      transition: box-shadow 0.2s ease-in-out;
    }

    & .related-product:hover {
      box-shadow: 0px 0px 6px 6px var(--bg-col);
    }
  }
}
